:root {
  font-size: clamp(4.27px, calc(100vw / 75), 16px);
}

/* Стили для dialog */
dialog {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

dialog[open] {
  opacity: 1;
  visibility: visible;
}

dialog::backdrop {
  background: rgba(4, 6, 27, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

dialog[open]::backdrop {
  opacity: 1;
}

/* Анимация для контента модального окна */
.modal-content {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

dialog[open] .modal-content {
  transform: translateY(0);
  opacity: 1;
}